 html {
      max-width: 70ch;
      padding: calc(1vmin + .5rem);
      margin-inline: auto; 
      font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em); 
      font-family: Courier New;
      background-color: #F2F0EE; 
      color: #1F2022;
       
    }

body :not(:is(h1,h2,h3,h4,h5,h6)) {
      line-height: 1.75;
    }

a {
  color: #1F2022;
}
img{
  width:100%;
  /*max-width:600px;*/
}
